* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
    color: #444;
    height: 100vh;
    padding: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.welcome {
    font-size: 1.9rem;
    font-weight: 500;
}

.logo {
    height: 5.25rem;
}

.login {
    display: flex;
}

.login__input {
    width: 12rem;
    text-align: center;
    font-size: 1.6rem;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
    border-radius: 10rem;
    border: 1px solid #fff;
    color: inherit;
    transition: all 0.3s;
}

.login__input:focus {
    outline: none;
    border: 1px solid #ccc;
}

.login__btn {
    border: none;
    font-size: 2.6rem;
    color: inherit;
    cursor: pointer;
    transition: all 0.3s;
}

.login__btn:hover,
.login__btn:focus {
    outline: none;
    color: #777;
}

.app {
    max-width: 100rem;
    margin: 4rem auto;
    opacity: 0;
    transition: all 1s;
    display: grid;
    grid-template-rows: auto repeat(3, 15rem) auto;
    grid-template-columns: 4fr 3fr;
    gap: 2rem;
}

/* Current balance */

.balance {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2rem;
    grid-column: 1 / span 2;
}

.balance__label {
    font-size: 2.1rem;
    font-weight: 500;
}

.balance__date {
    font-size: 1.4rem;
    color: #888;
}

.balance__value {
    font-size: 4.5rem;
    font-weight: 400;
}

/* Movements */

.movements {
    background-color: #fff;
    border-radius: 1rem;
    overflow: scroll;
    text-transform: uppercase;
    grid-row: 2 / span 3;
}

.movements__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.2rem 4rem;
    border-bottom: 1px solid #eee;
}

.movements__type {
    border-radius: 10rem;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.2rem 1rem;
    margin-right: 2rem;
}

.movements__type--deposit {
    background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.movements__type--withdrawal {
    background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.movements__date {
    font-size: 1.1rem;
    font-weight: 500;
    color: #666;
}

.movements__value {
    margin-left: auto;
    font-size: 1.7rem;
}

/* Summary */

.summary {
    display: flex;
    align-items: baseline;
    padding: 0 0.3rem;
    margin-top: 1rem;
    grid-row: 5 / 6;
}

.summary__label {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 0.8rem;
}

.summary__value {
    font-size: 2.2rem;
    margin-right: 2.5rem;
}

.summary__value--in,
.summary__value--interest {
    color: #66c873;
}

.summary__value--out {
    color: #f5465d;
}

.btn--sort {
    margin-left: auto;
    border: none;
    background: none;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
}

/* Operations */

.operation {
    padding: 3rem 4rem;
    border-radius: 1rem;
    color: rgb(47, 47, 47);
}

.operation--transfer {
    background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.operation--loan {
    background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.operation--close {
    background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

h2 {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #333;
}

.form {
    display: grid;
    grid-template-columns: 2.5fr 2.5fr 1fr;
    grid-template-rows: auto auto;
    gap: 0.4rem 1rem;
}

.form.form--loan {
    grid-template-columns: 2.5fr 1fr 2.5fr;
}

.form__label--loan {
    grid-row: 2;
}

.form__input {
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: inherit;
    font-size: 1.5rem;
    text-align: center;
    color: #333;
    padding: 0.3rem 0rem;
    border-radius: 0.7rem;
    transition: all 0.3s;
}

.form__input:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
    font-size: 1.3rem;
    text-align: center;
}

.form__btn {
    cursor: pointer;
    border: none;
    border-radius: 0.7rem;
    font-size: 1.8rem;
    background-color: #fff;
    transition: all 0.3s;
}

.form__btn:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
}

.logout-timer {
    padding: 0 0.3rem;
    margin-top: 1.9rem;
    text-align: right;
    font-size: 1.25rem;
}

.timer {
    font-weight: 600;
}